:root {
    --textSize: 2rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
div#rechner {
    height: 560px;
    width: 360px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}
div#display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
    height: 60px;
    width: 320px;
    background-color: lightgrey;
}
div#display>p#content {
    text-align: end;
    font-size: var(--textSize);
}
div#buttons {
    height: 360px;
    width: 320px;
    margin: 20px;
    display: flex;
    gap: 10px;
}
div#numbers {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}
div.number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33333%;
    height: 25%;
}
div.number>button.numberBtn {
    border: 2px solid black;
    width: 100%;
    height: 100%;
    font-size: var(--textSize);
}
div.number#dot {
    width: 66.6666%;
}
div#operators {
    display: flex;
    flex-direction: column;
    width: 20%;
    border: 2px solid black;
}
div.operator {
    width: 100%;
    height: 25%;
}
div.operator>button {
    height: 100%;
    min-width: 100%;
    border: 2px solid black;
    background-color: coral;
    font-size: var(--textSize);
}
div#clear>button#clearBtn {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
}